# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
build/
DerivedData/
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods / SPM
Pods/
.build/

# macOS
.DS_Store
.AppleDouble
.LSOverride
